/* 
	Thanks for the help!
	http://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text
*/
* { 
/*	cursor: none;		*/
	margin:0; 
	padding:0; 
}

html, body { 
	width:100%;
	height:100%;
}

/*
canvas {
	border: 1px solid blue;
}
*/

.canavswrapper
{
	position:relative;
	top:0;
	left:0;
}

.sliderwrapper 
{
	position:absolute;
	top:10px;
	left:10px;
	background:black;
	border-style:solid;
	border-width:4px;
	border-color:white;
	padding:5px;
}

/* Dear god, there must be a better solution than this */
.sliderwrapper > .group
{
	display:inline-block;
	padding:2px;
}

p
{
	color:white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}